Translator/Resources/ProjectSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Project">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Files">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element maxOccurs="unbounded" minOccurs="0" name="File">
                <xs:complexType>
                  <xs:attribute name="Path" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="WorkDirs">
          <xs:complexType>
            <xs:sequence minOccurs="1">
              <xs:element maxOccurs="unbounded" name="WorkDir">
                <xs:complexType>
                  <xs:attribute name="Path" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="NextDefaultFileNumber" type="xs:integer" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>